.button {
  font-size: 1rem;
  border: none;
  padding: .6em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: #efeadd;
  cursor: pointer;
}

.button.pill {
  border-radius: 2em;
}

.action {
  background-color: #4a8290;
}