.db-btn--container {
  display: flex;
  border-radius: 2em;
}

.db-btn--container > button:first-child {
  /* border-top-left-radius: 2em;
  border-bottom-left-radius: 2em; */
  border-radius: 2em;
}

.db-btn--container .menu--container > button:first-child {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}