input.text-input {
    width: 100%;
    padding: .5rem 0 .5rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #f7f7f8;
}

input.text-input:focus, 
input.text-input:active {
    background-color: #fff;
    outline: 2px solid #4a8290;
    color: black;
}

input.text-input.transparant {
    background-color: transparent;
    border-radius: .5em;
    font-size: 1rem;
    padding: .5em 0;
}