li.item--container{
  margin: 0 0 .5rem 0;
  text-align: left;
  background-color: antiquewhite;
  color: rgb(17, 16, 15);
  border-radius: 2px;
  overflow: hidden;
}

div.item--display {
  display: grid;
  grid-template-columns: 8fr 1.3fr;
  user-select: none;
}

div.item--display p {
  margin: .8rem 0;
  align-self: center;
  margin-left: .5rem;
}

.remove {
  background-color: rgb(247, 221, 225);
}

.remove p {
  text-decoration: line-through;
}

.item-edit--button {
  background-color: rgb(251, 221, 87);
}

.item-delete--button {
  background-color: rgb(185, 18, 18);
}