li.item--container{
  margin: 0 0 .5rem 0;
  text-align: left;
  background-color: antiquewhite;
  color: rgb(17, 16, 15);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
}

li.item--container p {
  margin-left: .5rem;
  width: 100%;
}

li.item--container input {
  width: 100%;
  padding: 1rem .4rem;
  font-size: 1rem;
  border: none;
}

li.item--container.remove {
  background-color: rgb(225, 137, 137);
  text-decoration: line-through;
}

button.icon--btn {
  font-size: 1.2rem;
  padding: .8rem 1.3rem;
  background-color: transparent;
  color: rgb(17, 16, 15);
}

button.icon--btn.edit {
  background-color: white;
}