#root {
  max-width: 385px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0 1rem;
}

.card {
  margin: 1rem 0 0 0;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 1rem;
}

.light-text {
  color: #909090;
}