:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  
  background-color: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f7f7f8;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}
